.loader {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  width: 400px;
  height: 400px;
  background: url('../../assets/icons/pokeball_loader.svg') center/cover
    no-repeat;
  opacity: 0.5;
  animation: spin 0.5s infinite;
}

@media screen and (min-width: 768px) {
  .loader {
    left: 20%;
  }
}
@media screen and (min-width: 900px) {
  .loader {
    left: 25%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
