.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  padding: 10px 15px;
  margin: 10px;
  background: var(--button-bg-color-primary);
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.button:hover {
  background: var(--button-bg-color-hover);
}

.button:active {
  background: var(--button-bg-color-clicked);
}

.button--disabled,
.button--disabled:hover {
  background: var(--button-bg-color-disabled);
  cursor: not-allowed;
}

.button.button-empty-table {
  animation: buttonEmptyTable 1s infinite;
}

@keyframes buttonEmptyTable {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

.button__icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 15px;
  background: url('../../assets/icons/button_add.svg') center/cover no-repeat;
}

.button__icon--save {
  background-image: url('../../assets/icons/button_save.svg');
}

.button__icon--cancel {
  background-image: url('../../assets/icons/button_cancel.svg');
}

@media screen and (min-width: 768px) {
  .button {
    margin-right: 0px;
  }
}
