.range {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.range__label {
  display: inline-block;
  width: 80px;
}

.range__input {
  margin: 0 10px;
}

.range__middle-value {
  position: relative;
  top: -20px;
  left: 92px;
  font-size: 12px;
  font-weight: 700;
  color: var(--button-bg-color-primary);
}

@media screen and (min-width: 768px) {

}